.shop-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 85%;
    margin: auto;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 80px 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
