body {
    font-family: 'Poppins', sans-serif;
}

.App {
    padding-top: 40px;
}

.App h1 {
    margin: 0;
    color: #1d335f;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
